{% extends 'layouts/base.html' %}

{% block title %} Patients List {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Available Patients</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Room Number
                </th>
                <th class="text-center">
                  Bed Number
                </th>
                <th class="text-center">
                  Level
                </th>
              </tr>
            </thead>
            <tbody>
            {% for patient in patients  %}
              <tr>
                <td>
                  {{patient.pk}}
                </td>
                <td>
                  <a href="{% url "get_patient_info" pk=patient.pk %}">{{patient.name}}</a>
                </td>
                <td>
                  {{patient.room_number}}
                </td>
                <td class="text-center">
                  {{patient.bed_number}}
                </td>
                <td class="text-center">
                    {% if patient.bottle.level < 25 %}
                        <p>Warning</p>
                    {% else %}
                        <p>Sufficient</p>
                    {% endif %}

                </td>
              </tr>
            
            {% endfor %}
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
